<div class="row">
  <div class="col-xxl-12">
    <nb-card [nbSpinner]="loading">
      <nb-card-body><h4>Dashboard</h4></nb-card-body>
    </nb-card>  
  </div>
</div>
<div class="row">
  <div class="col-xxl-12">
    <nb-card [nbSpinner]="loading">
      <nb-card-header>Uploads by last 7 Days</nb-card-header>
      <nb-card-body>
        <chart type="bar" [data]="data" [options]="options"></chart>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-xxl-4">
    <nb-card [nbSpinner]="loading">
      <nb-card-header>Recent Records</nb-card-header>
      <nb-card-body>
        <nb-list *ngIf="dashboard_data">
          <nb-list-item *ngFor="let record of dashboard_data.rosbags.latest">
            {{ record }}
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxl-8">
    <div class="row">
      <div class="col-md-6">
        <nb-card [nbSpinner]="loading">
          <nb-card-header>Upload Count (Today)</nb-card-header>
          <nb-card-body>
            <div *ngIf="dashboard_data" class="highlight-number">
              {{ dashboard_data.uploads.today }}
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6">
        <nb-card [nbSpinner]="loading">
          <nb-card-header>Upload Count (Overall)</nb-card-header>
          <nb-card-body>
            <div class="highlight-number">
              2
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nb-card [nbSpinner]="loading">
          <nb-card-header>Storage Usage (Byte)</nb-card-header>
          <nb-card-body>
            <div *ngIf="dashboard_data" class="highlight-number">
              {{ dashboard_data.rosbags.disk_usage }}
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>

